/* main tags */
html {
 /* start size 16px = 1rem */
    color: #00215E;
}

body{
    display:flex;
    flex-direction: column;

    height: 100vh;
}

h1,h2{
    font-family:'Quando';
}

p{
    text-align: justify;
}

/* logo header */
#logoHeader{
    flex:1;
    display:flex;
    flex-direction: row;
    color: #00215E;
  }
  
  #logo{
    flex : 1;
    margin-right:1.2rem;
    /* center children tags*/
    display:flex;
    justify-content: center; /* Horizzontally */
    align-items: center; /* vertically */
  }

  #logoTitle{
    flex : 5;
  }
  
  #logo img{
    margin: 0 auto;
    width:80%;
    height: auto;
  }

/* main menu */
.menu{
    height: auto;
    background-color: #00215E;
    overflow-x: auto;
    top:0;
    width:100%;
    display: flex;
    align-items: center;
}
.menu ul, aside ul{
    margin:0;
    padding: 0;
    list-style-type: none;
    white-space: nowrap;
}
.menu li{
    display: inline-block;
}
  
.menu li a{
    display:block;
    color:#EEFFFF;
    text-align:center;
    padding: 1rem 1.2rem;
    text-decoration: none;
}
  
.menu li a:hover{
    background-color: #EEFFFF;
    color: #00215E;
}

/* main */
main{
    padding-top: 1rem;
    height: 55.56vh;

    display: flex;
    flex-direction: column;
    align-items: center;

    /* set vertical flow */
    overflow-y: auto ;
  }

/* article */
article p{
    font-size: 1.2;
    padding:0;
    margin-bottom: 1rem;
  }

/* footer */
footer{
    height:10vh;
    background-color: #00215E;
    color:#EEFFFF;
    padding: 0.5em;
    display: flex;
    align-items: center;
}

footer a{
    color: #EEFFFF;
    font-weight: bold;
}

/* instruments flow */
#strum{
    width:85%;
    margin-bottom: 0.5em;
    display: flex;
    flex-direction: column;
    border-bottom: solid #00215E;
  }

#strumDescription{
    flex:2;
    width:95%;
    margin: auto;
    margin-bottom: 0.1rem;
    display:flex;
    align-items: center;
}
  
#strumDescription img{
    width: 3rem;
    height: auto;
    margin-right:1rem;
    margin-left:0.7rem;
}

#strumDescription div{
    display:flex;
    flex-direction: column;
    justify-content: center;
}
  
#strumDescription h1{
    font-size: 1.2rem;
    margin-bottom: 0.2rem;
    margin-top: 0;
}
  
#strumDescription h2{
    font-size: 1em;
}
  
#strumDescription p{
    font-size: 1rem;
    margin-top: 0;
}

#strumNav{
    flex:1;
    text-align: center;
    padding-top: 0.1rem;
    padding-bottom: 0.5rem;
    width: 100%;
}

#strumNav a{
    color: #00215E;
    text-decoration: none;
    font-size: 0.8rem;
}

#strumNav a:hover{
    font-size: 1rem;
    font-weight: bold;
}

