#instrument {
    width: 80%;
    margin: auto;
}

 #description img{
    float: left;
    margin-right: 0.5rem;
 }
 #description p{
    padding-left: 20px;
    text-align: justify;
    color: #0b2447;
    font-size: 1.5em;
    line-height: 1.5em;
    font-family: 'Lato', sans-serif;}




    